<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="org.module.main">

    <!-- release -->
    <!-- 业务组件：不能设置 Application 和 Launch Activity，名称等属性，避免与壳工程重复 -->
    <!--  可为组件内的Activity设置统一的主题，这里与壳工程一致-->
    <!-- 同步两个 AndroidManifest 内的组件 -->
    <application android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
    </application>

</manifest>
